.btn-container{
    display: flex;
    justify-content: center;
}

.btn-container button{
    width: calc(100% - 50px);
    border-radius: 10px 0 0 10px;
}

.btn h6 {
    color: white;
    font-size: 12px;
}

.btn-icon-container{
    width: 50px;
    height: 60px;
    background-color:  rgb(51,86,155);
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 0 10px 10px 0;

    color:white;
}

@media(min-width: 576px){

    .btn-icon-container{
        width: 70px;
        height: 70px;
    }

    .btn-container button{
        width: calc(100% - 70px);
    }

    .btn h6 {
        font-size: 18px;
    }
}