.home-container{
    padding: 10px;
    font-size: 20px;
    border: solid 1px red;
    text-align: center;
}

.home-image-container{
    padding: 50px 15px; /* 0 no topo e abaixo e 15 dos lados */
    border: solid 1px brown;
}


.home-card{
    /* posicionamento */
    display: flex;
    flex-direction: column-reverse; /* texto pra baixo da imagem */

    border: solid 1px orange;
    /*position: absolute;
    width: 1360px;
    height: 780px;
    left: 40px;
    top: 110px;*/


    /* card */
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.home-content-container {
    /* alinhando os dois textos ao centro */
    display: flex;
    flex-direction: column;
    align-items: center;

    border: solid 1px purple;
    padding: 10px 10px 60px 10px;
}

.home-content-container h1 { /* conheça o melhor catálogo do curso */
    font-size: 1em;
    width: 260px; /* ajustar a largura pras palavras se adequarem */
    margin-bottom: 15px;
}

.home-content-container p { /* descrição */
    font-size: 0.6em;
    color: #9E9E9E;
    width: 243px;
    margin-bottom: 33px;
}

.home-image-container svg{
    width: 100%; /* a imagem svg vai se adequar ao container que ela estiver */
    height: auto;
    border: solid 1px green;
}

/* ### RESPONSIVIDADE ### */

@media(min-width: 576px){

    /* aumentar a fonte do home container -> muda proporcionalmente as fontes do titulo e subtitulo pois unidades 'em' */
    .home-container{
        padding: 15px;
        font-size: 40px;
    }

    /* aumentar a área do título e subtítulo */ 
    .home-content-container h1 { /* conheça o melhor catálogo do curso */
        width: 506px; /* ajustar a largura pras palavras se adequarem */
        margin-bottom: 20px;
    }
    
    .home-content-container p { /* descrição */
        width: 506px;
        margin-bottom: 47px;
    }

    .home-content-container button {
        width: 506px;
    }

    .home-image-container svg{
        width: 506px; 
    }
}